{% extends 'base.html.twig' %}

{% block body %}

    <form method="post">
    {{dump(error)}}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant qu'{{ app.user.username }}
            </div>
        {% endif %}
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" value="{{ last_username }}" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


        <button class="btn btn-success" type="submit">Connexion</button>
    </form>
{% endblock %}
